@{
    Layout = null;
}


        <form action="/Home/Sumprocess" method="post">
          <label>First Number: </label>  <input type = "number" name = "num1" />
            <br>
            <br>
       <label>Second Number: </label> <input type = "number" name = "num2" />
            <br>
            <br>
<button style = "color:black;" type="submit" >CLICK</button>

    </form>

