
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>sumprocess</title>
</head>
<body>
  <h1 style=" text-align:center; ">Result: </h1>
  <br >
<h1 style=" text-align:center; ">@Model</h1>

</body>
</html>


